h1{
color:red
}

.header{
 background-color: aqua;
 display: flex;
justify-content: space-between;
}

.grid{
display:flex;
flex-wrap: wrap;
justify-content: space-around;

}

.footer{
display:flex;
justify-content: flex-end;
}

h2,p{
text-align: center;
}
